@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: white;
    letter-spacing: 0.025em;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.spark-btn {
    @apply w-full py-2 mx-auto bg-primary font-medium rounded-lg text-surface-200 text-center border border-secondary focus:outline-none hover:bg-secondary;
} 

.spark-input {
    @apply bg-ground w-full border border-tertiary p-2.5 text-sm rounded outline outline-0 placeholder:text-surface-300 hover:border-secondary focus:outline-secondary focus:outline-1;
}

.spark-link {
    @apply cursor-pointer text-primary hover:text-secondary;
}

.spark-error {
    @apply text-error text-sm;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
