<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/base.html}">
    <div id="content" layout:fragment="content">
        <div class="bg-ground h-screen flex justify-center items-center">
            <div class="bg-surface-100 p-5 rounded w-[30rem]">
                <div class="font-bold text-4xl mb-5 mx-auto">Create an account</div>
                <div class="mb-5 text-grey">
                    Already have an account? <a class="spark-link" hx-get="/login" hx-target="body">Log in</a>
                </div>
                <form class="flex flex-col gap-6 pb-5" th:object="${userRegistration}" th:hx-post="@{/users}" hx-target="#content" th:action="@{/users}" method="post">
                    <div class="relative">
                        <label for="user-name" class="block pb-2">User Name</label>
                        <input th:field="*{userName}" id="user-name" class="spark-input" placeholder="Name Surname" type="text" />
                        <div th:if="${errors['userName']} != null" th:text="${errors['userName']}" class="spark-error absolute top-18"></div>
                    </div>
                    <div class="relative">
                        <label for="email" class="block pb-2">Email</label>
                        <input th:field="*{email}" id="email" name="email" class="spark-input" placeholder="email@example.com" type="text" />
                        <div th:errors="*{email}"></div>
                        <div th:if="${errors['email']} != null" th:text="${errors['email']}" class="spark-error absolute"></div>
                    </div>
                    <div class="relative">
                        <label for="password" class="block pb-2">Password</label>
                        <input th:field="*{password}" id="password" name="password" class="spark-input" placeholder="•••••••••" type="password" />
                        <div th:if="${errors['password']} != null" th:text="${errors['password']}" class="spark-error absolute"></div>
                    </div>
                    <div class="relative">
                        <label for="confirm-password" class="block pb-2">Confirm Password</label>
                        <input th:field="*{confirmPassword}" id="confirm-password" name="confirmPassword" class="spark-input" placeholder="•••••••••" type="password" />
                        <div th:if="${errors['confirmPassword']} != null" th:text="${errors['confirmPassword']}" class="spark-error absolute"></div>
                    </div>
                    <button class="spark-btn mt-3" type="submit">Create account</button>
                </form>
            </div>
        </div>
    </div>
</html>