<!DOCTYPE html>
<html lang="en" xmlns="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/htmx.min.js"></script>
    <link rel="stylesheet" href="/styles_out.css">
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Hello World example</title>
</head>
<body>
    <div id="toast-container" class="absolute top-12 right-12 flex flex-col gap-4 items-center">
        <div class="bg-success min-w-72 min-h-12 rounded flex justify-between gap-2 items-center p-4">
            <div class="flex items-center gap-2">
                <div class="text-surface-100 material-symbols-outlined">check_circle</div>
                <div class="text-surface-100 h-full text-sm">
                    Your account has been registered. 
                    <br>
                    An email has been sent for you to verify your account 
                </div>
            </div>
            <span class="text-surface-100 cursor-pointer material-symbols-outlined">close</span>
        </div>
    </div>
    <div layout:fragment="content"></div>
</body>
</html>